body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

/* imageSlider section */
.carouselOverlay {
  width: 100%;
  height: 100%;
  max-height: 105vh;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

div.carousel-inner {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
}
span.carousel-control-prev-icon {
  left: 20px;
  background-image: url(../../img/icon/prev.png);
}
span.carousel-control-next-icon {
  right: 20px;
  background-image: url(../../img/icon/next.png);
}

div.titleMessage {
  position: absolute;
  width: 80%;
  height: 350px;
  left: 10%;
  right: 10%;
  top: 25%;
  z-index: 4;
  text-align: center;
  margin-top: -125;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px, 2px, 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .name {
  font-size: 50px;
}
.titleMessage .heading .title {
  color: #fff;
  text-shadow: 0px, 2px, 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 2px;
}

a.resume {
  color: #fff;
  position: absolute;
  text-align: center;
  margin-top: 40px;
  margin-left: -90px;
}

.more a.link{
  position: relative;
  color: #fff;
  top: 290px;
}


/* about section */
.section {
	padding: 100px 0;
}

.aboutImage{
	max-width: 100%; 
}

/* contact section */
.contactSection {
  background-color: #c0392b;
}
.contactButton {
  color: black;
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #c0392b;
  background-color: #fff;
}

/* Portfolio section*/

div.heading{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

div.filters {
  padding-top: 15px;
  text-align: center;
}
div.filtered {
  padding-bottom: 80px;
  padding-left: 25%;
}

img.cardImages {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}

div.picutre-language {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -12px;
}

div.picture-text{
  position: absolute;
  color: #2d3436;
  left: 25%;
  top: 30px;
  text-align: center;
  font-size: 12px;  
}

div.item {
  position: relative;
  display: block;
  overflow: hidden;
}

div.icons{
  position: absolute;
  width:90px;
  height:40px;
  left: 50%;
  right:50%;
  margin: -20px auto 0 -47px;
  margin-top: -70px;
  text-align: center;
  z-index: 3;
}

i.fab.fa-github,
i.fas.fa-terminal{
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

div.filtered a {
  width: 35px;
  height: 35px;
  background-color: #c0392b;
  position: relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  transition: all 0.2s linear, 0.2s;
}

div.imageOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}

.filtered .item:hover .imageOverlay{
  opacity: 1;
}

.filtered .item .openButton{
  float: left;
  left: -200px;
}

.filtered .item .icons .projectLink{
  float: right;
  right: -200px;
}

.filtered .item:hover .icons .openButton{
  float: left;
  left: 0px;
}

.filtered .item:hover .icons .projectLink{
  float: right;
  right: 0px;
}

.filtered .item:hover img{
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

/* copyright section*/
.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

/* navbar section*/
nav.navbar.navbar-expand-lg.navbar-light.sticky-top {
  background-color: #c0392b !important;
}

/* Skills section */
.chart{
  background-color: #c0392b;
  padding-bottom: 90px;
}
.chart .heading{
  position: relative;
  color: #fff;
  text-align: center;

  
}

svg.vis{
  position: relative;
  left: 30%;
  right: 30%;
  background-color: #fff;
  text-align: center;

}


